@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-10 md:px-10 w-full;
  }
}

@layer components {
  .cvSection {
    @apply p-2 bg-stone-800 text-white;
  }
  .cvSectionSkill {
    @apply p-2 flex flex-col;
  }
  .cvSectionProfessionalExperienceTitle {
    @apply text-sky-500 font-bold;
  }
  .cvSectionPosition {
    @apply text-sky-900 font-bold border-b-2 hover:text-sky-600 hover:border-sky-600 border-sky-900 w-fit cursor-pointer;
  }
  .cvSectionProfExpFirstCol {
    @apply text-sky-500 font-bold max-sm:border-b-2 max-sm:mb-2 w-fit border-sky-900 sm:min-w-48 lg:min-w-40 max-sm:mx-auto;
  }
  .cvSectionProfExpSecondCol {
    @apply lg:mt-6 max-sm:mb-10 sm:mt-6 sm:mb-5;
  }
  .cvSectionArea {
    @apply uppercase mt-11 border-b-4 border-stone-800 font-bold text-lg;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cube-wrapper {
  width: 100px;
  height: 100px;
  perspective: 400px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 10s infinite linear;
}

.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(141, 141, 141, 0.5);
  border: 2px solid #ffffff;
  backdrop-filter: blur(5px);
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(50px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(50px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(50px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(50px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(50px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes spin {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
